stages:
  - test

# --- LINUX JOBS (Docker-based) ---
# GitLab uses Docker images to handle different Python versions
test-linux:
  stage: test
  # This variable comes from the matrix below
  image: $PYTHON_IMAGE
  parallel:
    matrix:
    - PYTHON_IMAGE: ["python:3.12"]
  script:
    - pip install pytest .
    - pytest

#